<div class="info_box">
  <h2>Your total spending is: <%= Transaction.total_amount %></h2>
</div>


<% for budget in @budgets %>
  <% if budget.money_left < 0 %>
  <div class="alert_box">
    <h2>  <%= budget.name %> budget balance is <%= budget.money_left %> </h2>
  </div>
  <% elsif budget.money_left <= 20 %>
    <div class="warning_box">
      <h2>  <%= budget.name %> budget balance is <%= budget.money_left %> </h2>
    </div>

  <% end %>
<% end %>
