<form method="post" action="/transactions/<%= @transaction.id %>">
  <input type="hidden" name="_method" value="put" />

    <label for="tag_id">Tag:</label>
      <select id="tag" name="tag_id">
        <% for tag in @tags %>
          <option value="<%= tag.id %>" <%= "selected" if tag.id == @transaction.tag_id %>> <%= tag.category %></option>

        <% end %>
      </select>


    <label for="merchant">Merchant:</label>
      <select id="merchant" name="merchant_id">
        <% for merchant in @merchants %>
          <option value="<%= merchant.id %>" <%= "selected" if merchant.id == @transaction.merchant_id %>> <%= merchant.name %></option>

        <% end %>
      </select>



    <label for="description">Description:</label>
    <input id="description" type="text" name="description" value="<%= @transaction.description %>" />

    <label for="amount">Amount:</label>
    <input id="amount" type="number" min="0" step="0.05" placeholder="It must be a number" name="amount" value="<%= @transaction.amount %>" />



    <input type="submit" value="Edit transaction"/>
</form>
