<div class="flex-form">

  <div>
    <form action="/transactions/filter/date" method="get">
      <label for="month">Month</label>
      <input id="month" type="number" name="month" min="1" max="12" required>
      <label for="year">Year</label>
      <input id="year" type="number" name="year" min="2015" max="2100" step="1" required>

      <input type="submit" value="Search date"/>
    </form>
  </div>

  <div>
  <form action="/transactions/filter/tag" method="get">

    <label for="tag_id">Tag</label>
    <select id="tag_id" name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.category %></option>
      <% end %>
    </select>

    <input type="submit" value="Search tag">
  </form>
</div>
  <div>
    <form action="/transactions/filter/merchant" method="get">
      <label for="merchant_id">Merchant</label>
      <select id="merchant_id" class="" name="merchant_id">
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>

      <input type="submit" value="Search merchant">

      </form>
  </div>
</div>



    <br>


  <table>
    <tr>
      <th>Tag</th>
      <th>Merchant</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
      <th>ID</th>
      <th>Options</th>
    </tr>
    <% for transaction in @transactions %>
    <tr class="display_area">
      <th><%= transaction.tag.category %></th>
      <th><%= transaction.merchant.name %></th>
      <th><%= transaction.description %></th>
      <th><%= transaction.amount %> </th>
      <th> <%= transaction.transaction_date %> </th>
      <th> <%= transaction.id %> </th>
      <th><button><a href="/transactions/<%= transaction.id %>/edit">Edit</a>

      <form action="/transactions/<%= transaction.id %>/delete" method="post"> <button type="submit" formmethod="post"><a>Delete</a></button> </form> </th>
    </tr>
    <% end %>
  </table>




  <h2>Your total spending is: <%= Transaction.total_amount %></h2>
