<ul>
  <span> <span>Filter by:</span>

    <button type="button" name="button"> date
    <form class="" action="/transactions/filter/date" method="get">
      Month
      <input type="number" name="month" min="1" max="12" required>
      Year
      <input type="number" name="year" min="2015" max="2100" step="1" required>

      <input type="submit" value="Search date"/>
    </form>
    </button>

    


    </span>

  <% for transaction in @transactions %>
  <li class="display_area"> Tag: <%= transaction.tag.category %> |
    Merchant: <%= transaction.merchant.name %> |
    Description: <%= transaction.description %> | Amount <%= transaction.amount %> |
    Date: <%= transaction.transaction_date %> |
    Id: <%= transaction.id %> |

    <button type="button" description="button"><a href="/transactions/<%= transaction.id %>/edit">Edit</a>

    <form action="/transactions/<%= transaction.id %>/delete" method="post"> <button type="submit" formmethod="post"><a>Delete</a></button> </form> </li>
  <% end %>

  <h2>Your total spending is: <%= Transaction.total_amount %></h2>
</ul>
