<ul>
  <% for budget in @budgets %>
  <li class="display_area">
    Id: <%= budget.id %> |
    Name: <%= budget.name %> |
    Budget: <%= budget.amount %> |
    Remaining Budget: <%= budget.money_left %> |

    <button type="button" category="button"><a href="/budgets/<%= budget.id %>/edit">Edit</a>

    <form action="/budgets/<%= budget.id %>/delete" method="post"> <button type="submit" formmethod="post"><a>Delete</a></button></form>

   </li>
   <% end %>

</ul>
