<h2>
  <%= @budget.name %> |
  Limit :<%= @budget.amount %> |
  Amount remaining: <%= @budget.money_left %> |
  <button type="button" category="button"><a href="/budgets/<%= @budget.id %>/edit">Edit</a>
</h2>

<% if @budget.transactions == nil %>
  <h3>There are no transactions to display</h3>
<% else %>
  <% for transaction in @budget.transactions %>
  <li class="display_area"> Tag: <%= transaction.tag.category %> |
    Merchant: <%= transaction.merchant.name %> |
    Description: <%= transaction.description %> | Amount <%= transaction.amount %> |
    Date: <%= transaction.transaction_date %> |
    Id: <%= transaction.id %> |

    <button type="button" description="button"><a href="/transactions/<%= transaction.id %>/edit">Edit</a>

      <form action="/transactions/<%= transaction.id %>/delete" method="post"> <button type="submit" formmethod="post"><a>Delete</a></button> </form> </li>
    <% end %>

<% end %>
